{{header}}
<style>
{{custom_style}}
</style>

<style>
    .banner-text2 {
        color: #423c9e;
        font-size: 22px;
    }

    .leaf {
        width: 160px;
        position: absolute;
        z-index: 9999;
        right: -50px;
        top: -50px;
        transform: rotate(20deg);
    }

    .demo-msg {
        display: none !important;
    }
    .button {
    display: block;
    width: 115px;
    height: 34px;
    background: #423c9e;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    /* line-height: 25px; */
    margin-top:20px;
    
}
.blogbanner{
    background-color:#dcebf7;
    margin-bottom:50px;
    padding-top:20px;
    padding-right:40px;
}
</style>

<section class="about-us section-padding pb-0">
    <div class="container blogbanner">
        <div class="row align-items-center">
            <div class="col-lg-5">
            <a href="index.php?route=common/g1"  >
                <div class="about-thumb">
                    <img src="assets/img/blog/stones/Aquamarine-1.png" alt="Birth stone">
                </div>
</a>
            </div>
            <div class="col-lg-7">
            
                <div class="about-content">
                <a href="index.php?route=common/g1"  >
                    <h3 style="color:#423c9e">Spot Jewelry According to your Birthstone</h3></a>
                    <br />
                    <p>We are very connected with our birth month, and jewels with your birthstone are the new way to flaunt who you really are.
                    Each piece of jewelry tells the story of the wearer, and adding a touch of personalisation is now turning out to be a given for every jewelry buyer.    
                    <a href="index.php?route=common/g1"  class="button">
                                Read More...
                            </a>
</p>

                </div>
                
            </div>
        </div>
        <br />
        <br />
        <br />

    </div>
</section>


<!-- <div class="banner-statistics-area ptb-30">
    <div class="container ptb-30">
        <div class="row">
            <div class="col-sm-12">
                <div class="row row-20 mtn-20" style=" padding:20px">
                    <div class="col-12">
                        <figure class="banner-statistics mt-20">
                            <a href="index.php?route=common/g1">
                                <img src="assets/img/banner/imgb1_7.jpg" alt="product banner">
                            </a> 
</figure> 
                </div>
            </div><br />
        </div>
    </div>
</div>
</div> -->

<script src="assets/js/src/html2canvas.min.js"></script>
<script src="assets/js/src/three.min.js"></script>
<script src="assets/js/src/pdf.min.js"></script>

<script src="assets/js/src/3dflipbook.min.js"></script>







    {% include template('partial/d_layout_open') %}
        <div class="bm">

            {% if posts %}
                {% include template(layout_template) with posts %}
            {% endif %}


        </div>
    {% include template('/partial/d_layout_close') %}
{{footer}}

